<div class="register-container">
    <form action="#" method="post" class="register-form">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/054/563/337/small_2x/orange-profile-icon-png.png"
            alt="Avatar">

        <div class="user">
            <i class="fas fa-user"></i>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="password">
            <i class="fa-solid fa-lock"></i>
            <input [type]="showPassword ? 'text' : 'password' " id="password" name="password" placeholder="Password"
                required />
            <i class="fas" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"
                (click)="togglePassword()"></i>
        </div>

        <div class="confirm-password">
           <i class="fa-solid fa-rotate-right"></i>
            <input [type]="showRePassword ? 'text' : 'password' " id="confirm-password" name="confirm-password" placeholder="Confirm Password"
                required />
            <i class="fas" [class.fa-eye]="showRePassword" [class.fa-eye-slash]="!showRePassword"
                (click)="toggleRePassword()"></i>
        </div>

        <p class="signup-text">
            Already have an account ? <a routerLink="/login">Login</a>
        </p>

        <button type="submit">Register</button>
    </form>
</div>