<footer>
    <section class="info">
        <div class="products">
            <h2>Products</h2>
            <a routerLink="/register">SignUp</a>
            <a routerLink="/create">Create a product</a>
            <a routerLink="/my-products">My Products</a>
            <a routerLink="/catalog">Features</a>
        </div>
        <div class="support">
            <h2>Support</h2>
            <a routerLink="#">Contact Us</a>
            <a routerLink="#">User Guide</a>
            <a routerLink="#">Help</a>
            <a routerLink="#">Examples</a>
        </div>
        <div class="company">
            <h2>Company</h2>
            <a routerLink="/about">About Us</a>
            <a routerLink="#">In the News</a>
            <a routerLink="#">Partnerships</a>
            <a routerLink="#">Blog</a>
        </div>
        <div class="media">
            <div class="apple-box">
                <div class="icon">
                    <i class="fa-brands fa-apple"></i>
                </div>
                <a routerLink="#">Download on the App Store</a>
            </div>
            <div class="google-box">
                <div class="icon">
                    <i class="fa-brands fa-google-play"></i>
                </div>
                <a routerLink="#">GET IT ON Google Play</a>
            </div>
        </div>
    </section>
    <section class="terms">
        <div class="text">
            <div class="conditions">
                <a routerLink="#">Terms & Conditions</a>
                <a routerLink="#">Privacy Policy</a>
                <a routerLink="#">Security</a>
            </div>
            <p>123 Vitosha Boulevard, Sofia 1000, Bulgaria</p>
            <p>&copy;2025 Home Features</p>
        </div>
        <div class="icons">
            <a routerLink="#"><i class="fa-brands fa-facebook"></i></a>
            <a routerLink="#"><i class="fa-brands fa-twitter"></i></a>
            <a routerLink="#"><i class="fa-brands fa-linkedin"></i></a>
            <a routerLink="#"><i class="fa-brands fa-youtube"></i></a>
            <a routerLink="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </section>
</footer>