<header>
    <nav>
        <div class="media">
            <a routerLink="/"><img src="logo.png" alt="Logo"></a>
        </div>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/catalog">Catalog</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/create">Create Product</a></li>
        </ul>
    </nav>
</header>