<header>
    <nav>
        <div class="media">
            <a routerLink="/"><img src="logo.png" alt="Logo"></a>
        </div>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/catalog">Catalog</a></li>
            <li><a routerLink="/about">About Us</a></li>
            @if(!isLoggedIn()){
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            } @else {
            <li><a routerLink="/create">Create Product</a></li>
            <li><a routerLink="/logout" (click)="logout()">Logout</a></li>
            <div class="profile">
                <a class="profile-link" [routerLink]="['/', currentUser()?.username, 'profile']"><i class="fas fa-user"></i></a>
                <p>Hello again, <span>{{currentUser()?.username}}</span></p>
            </div>
            }
        </ul>
    </nav>
</header>