@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Margarine&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+PE:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    nav {
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
        position: relative;
        padding-block: 1em;

        a {
            text-decoration: none;
        }


        img {
            max-width: 8ch;
            margin-left: 1em;
            position: absolute;
            border-radius: 0.3em;

            &:hover {
                transition: box-shadow 0.2s ease;
            }

            &:hover {
                box-shadow: 0 0 0.5em 0 rgb(227, 195, 64);
            }
        }

        ul {
            display: flex;
            gap: 1em;

            li {
                list-style-type: none;

                a {
                    font-size: 1.2em;
                    font-family: Inter, sans-serif;
                    color: #10898d;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: -5px;
                        width: 0%;
                        height: 2px;
                        background-color: #10898d;
                        transition: width 0.3s ease, left 0.3s ease;
                    }

                    &:hover::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }

            .profile {
                display: flex;
                align-items: start;
                gap: 1em;
                
                i {
                    color: orange;
                    font-size: 1.2em;
                    margin-left: 1em;
                }

                p{
                    max-width: 15ch;
                    font-size: 1.2em;
                    margin: 0;
                }

                span{
                    color: orange;
                }
            }
        }
    }
}